#root { min-height: 100vh; }
::selection { color: #160d08; background: #ff9b74; }
::-webkit-scrollbar { width: 9px; height: 9px; }
::-webkit-scrollbar-track { background: #0c0c0a; }
::-webkit-scrollbar-thumb { border: 3px solid #0c0c0a; border-radius: 10px; background: #403f38; }
